<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybills">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DataAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBills">
        <activity android:name=".presentation.view.despesa.EditDespesaActivity"></activity>
        <activity
            android:name=".presentation.view.receitas.EditReceitaActivity"
            android:label="@string/title_activity_edit_receita"
            android:theme="@style/Theme.MyBills.NoActionBar" />

        <activity android:name=".presentation.view.despesa.DespesasListaActivity" />
        <activity android:name=".presentation.view.receitas.ReceitasListaActivity" />
        <activity android:name=".presentation.view.receitas.AddReceitaActivity" />
        <activity android:name=".presentation.view.despesa.AddDespesasActivity" />
        <activity android:name=".presentation.view.authentication.RegistratioActivity" />
        <activity android:name=".presentation.view.authentication.LoginUserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.view.main.MainActivity" />
    </application>

</manifest>